.pagination{
	margin: 0 0 55px 0;
	display: flex;
}

.pagination__numbers{
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination__back{
	background-image: url(static/images/back.svg);
	margin: 0 auto 0 0;
	width: 18px;
	height: 32px;
}

.pagination__forward{
	background-image: url(static/images/forward.svg);
	margin: 0 0 0 auto;
	width: 18px;
	height: 32px;
}

.pagination__back:hover{
	background-image: url(static/images/back_h.svg);
}

.pagination__forward:hover{
	background-image: url(static/images/forward_h.svg);
}

.pagination__back:active{
	background-image: url(static/images/back_a.svg);
}

.pagination__forward:active{
	background-image: url(static/images/forward_a.svg);
}

.pagination__num{
	margin: 0 66px 0 0;
}

.pagination__num a{
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
}

.pagination__num_active a{
	color: #C29974;
}

.pagination__num a:hover{
	color: #AAAAAA;;
}

.pagination__num:last-child{
	margin: 0;
}