<div class="pagination">
	<a href="#" class="pagination__back">
		<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4" />
		</svg>
	</a>
	<ul class="pagination__numbers undotted">
		<li class="pagination__num pagination__num_active">
			<a href="#">1</a>
		</li>
		<li class="pagination__num">
			<a href="#">2</a>
		</li>
		<li class="pagination__num">
			<a href="#">3</a>
		</li>
		<li class="pagination__num">
			<a href="#">4</a>
		</li>
	</ul>
	<a href="#" class="pagination__forward">
		<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 2L15 15L2 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4" />
		</svg>
	</a>
</div>