.header{
	display: flex;
	align-items: center;
	margin: 50px 0 60px 0;
}

.header__logo{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.4s;
}

.header__nav{
	margin: 0 auto 0 60px;
}

.header__links{
	display: flex;
	align-items: center;
}

.header__item{
	margin: 0 20px 0 0;
}

.header__item a{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 19px;
	transition: opacity 0.4s;
}

.header__search{
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	transition: opacity 0.4s;
}

.header__contact{
	margin: 0 0 0 20px;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
  text-transform: uppercase;
	background: none;
	word-spacing: 3px;
	transition: opacity 0.4s;
}

.header__logo:hover,
.header__item a:hover,
.header__search:hover,
.header__contact:hover{
	opacity: 0.5;
}

.header__logo:active,
.header__item a:active,
.header__search:active,
.header__contact:active{
	opacity: 0.2;
}