.header{
	display: flex;
	align-items: center;
	margin: 50px 0 0 0;
	position: relative;
	// z-index: 4;
}

.header__logo{
	transition: opacity 0.4s;
}

.header__nav{
	margin: 0 auto 0 60px;
}

.header__nav_m{
	position: fixed;
	width: 100%;
	top: 102px;
	left: 0;
	padding: 25px 0;
	background: beige;
	display: none;
	z-index: 2;
	// transform: translateY(-100%);
}

.header__nav_m::after{
	content: "";
	position: fixed;
	top: 102px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(125, 151, 218, 0.8);
	// opacity: 0;
	transition: opacity 0.4s;
}

.header__background_open{
	opacity: 1;
}

.header__nav_m_open{
	display: block;
}

.header__nav_m ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__item_m{
	margin: 0 0 20px 0;
}

.header__item_m:last-child{
	margin: 35px 0 0 0;
}

.header__item_m a{
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.header__item_m:last-child a{
	font-weight: bold;
}

.header__links{
	display: flex;
	align-items: center;
}

.header__item{
	margin: 0 20px 0 0;
}

.header__item a{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 19px;
	transition: opacity 0.4s;
}

.header__menu{
	display: none;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 890px){
	.header__menu{
		display: block;
	}
	.header__nav,
	.header__contact{
		display: none;
	}
	.header{
		justify-content: space-between;
		margin: 35px 0;
	}
	.header__logo svg{
		width: 62px;
		height: 32px;
	}
	// .header__background{
	// 	display: block;
	// }
}

@media (max-width: 375px){
	.header{
		margin: 25px 0;
	}
	.header__logo svg{
		width: 42px;
		height: 22px;
	}
	.header__nav_m,
	.header__background{
		top: 73px;
	}
}

.header__menu_h{
	display: none;
}

.header__close{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__close_v{
	display: block;
}

.header__search{
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	transition: opacity 0.4s;
}

.header__contact{
	margin: 0 0 0 20px;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
  text-transform: uppercase;
	background: none;
	word-spacing: 3px;
	transition: opacity 0.4s;
}

.header__logo:hover,
.header__item a:hover,
.header__search:hover,
.header__contact:hover{
	opacity: 0.5;
}

.header__logo:active,
.header__item a:active,
.header__search:active,
.header__contact:active{
	opacity: 0.2;
}