.background{
	// content: "";
	background: rgba(125, 151, 218, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	transform: translateY(-100%);
	transition: transform 0.4s;
	&_open{
		transform: translateY(0);
	}
}

.wrapper{
	background: #FFFFFF;
	width: 100%;
	height: 103px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.body_menu-open{
	overflow: hidden;
}

.header-popup {
	position: absolute;
	width: 100%;
	top: 102px;
	left: 0;
	padding: 25px 0;
	background: beige;
	z-index: 2;
	transform: translateY(-100%);
	transition: 0.4s;
	&__links{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__item {
		margin: 0 0 20px 0;
		a{
			font-size: 16px;
			line-height: 22px;
			text-transform: uppercase;
		}
		&:last-child{
			margin: 35px 0 0 0;
			a{
				font-weight: bold;
			}
		}
	}
	&_open{
		transform: translateY(0);
	}
}

.header {
	display: flex;
	align-items: center;
	margin: 50px 0 60px 0;
	position: relative;
	z-index: 3;
	&__logo {
		transition: opacity 0.4s;
		&:hover{
			opacity: 0.5;
		}
		&:active{
			opacity: 0.2;
		}
	}
	&__nav {
		margin: 0 auto 0 60px;
	}
	&__links {
		display: flex;
		align-items: center;
	}
	&__item {
		margin: 0 20px 0 0;
		a{
			transition: opacity 0.4s;
		}
		a:hover{
			opacity: 0.5;
		}
		a:active{
			opacity: 0.2;
		}
	}
	&__menu {
		display: none;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&_h{
			display: none;
		}
	}
	&__close {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		&_v{
			display: block;
		}
	}
	&__search {
		width: 24px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		transition: opacity 0.4s;
		&:hover{
			opacity: 0.5;
		}
		&:active{
			opacity: 0.2;
		}
	}
	&__contact {
		margin: 0 0 0 20px;
		font-size: 14px;
		line-height: 19px;
		font-weight: bold;
		text-transform: uppercase;
		background: none;
		word-spacing: 3px;
		transition: opacity 0.4s;
		&:hover{
			opacity: 0.5;
		}
		&:active{
			opacity: 0.2;
		}
	}
}

@media (max-width: 942px){
	.header{
		justify-content: space-between;
		margin: 35px 0 70px 0;
		&__menu{
			display: block;
		}
		&__nav,
		&__contact{
			display: none;
		}
		&__logo svg{
			width: 62px;
			height: 32px;
		}
	}
}

@media (max-width: 380px){
	.wrapper{
		height: 73px;
	}
	.header-popup{
		top: 73px;
	}
	.header{
		margin: 25px 0 46px 0;
		padding: 0 10px;
		&__logo svg{
			width: 42px;
			height: 22px;
		}
		&__background{
			top: 73px;
		}
	}
}

.header__menu_h{
	display: none;
}