// // Подключение компонентов
@import "header/header";
@import "article/article";
@import "toy/toy";
@import "message/message";
@import "pagination/pagination";
@import "footer/footer";

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #1E0606;
}

*::after,
*::before{
	box-sizing: border-box;
}

body{
	margin: 0px;
}

a{
	text-decoration: none;
}

button{
	border: none;
	cursor: pointer;
}

.button{
	color: #FFFFFF;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	background: #000000;
	padding: 9px 22px;
	font-weight: bold;
	transition: background 0.4s;
}

.button:hover{
	background: #C29974;
}

.button:active{
	background: #CFAF91;
}

.button:disabled{
	background: #C7C1C1;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 110px;
}

.undotted{
	list-style-type: none;
}

.shadow{
	width: 0;
	height: 0;
	font-size: 0;
}

/* BREADCRUMBS */

.breadcrumbs{
	margin: 0 0 50px 0;
}

.breadcrumbs h1{
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 40px;
	line-height: 49px;
	text-transform: uppercase;
	margin: 0 0 17px 0;
}

.breadcrumbs__links{
	display: flex;
	align-items: center;
}

.breadcrumbs__links a{
	font-family: "Crimson Text", "Arial", sans-serif;
	font-style: italic;
	font-size: 20px;
	line-height: 25px;
}

.breadcrumbs__link::after{
	content: url(static/images/check.svg);
	width: 8px;
	height: 12px;
	margin: 0 26px 0 17px;
}

.breadcrumbs__links span{
	font-family: "Crimson Text", "Arial", sans-serif;
	font-style: italic;
	font-size: 20px;
	line-height: 25px;
	opacity: 0.5;
}

/* PRODUCTS */

.products__item{
	width: 280px;
	height: 270px;
	text-align: center;
}

.products__item a{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.products__item h3{
	font-size: 26px;
	line-height: 32px;
	text-transform: uppercase;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	max-width: 192px;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
	transition: text-decoration 0.4s;
}

.products__item a:hover h3{
	text-decoration: underline;
}

.products__item_1{
	background: #DBE4DB;
	background-image: url(static/images/category_1.jpg);
}

.products__item_2{
	background: #EADDD3;
	background-image: url(static/images/category_2.jpg);
}

.products__item_3{
	background: #F8F2DA;
	background-image: url(static/images/category_3.jpg);
}

.products__item_4{
	background: #D5D4E1;
	background-image: url(static/images/category_4.jpg);
}

.products__item_5{
	background: #F3D0DB;
	background-image: url(static/images/category_5.jpg);
}

.products__item_6{
	background: #E5EAF8;
	background-image: url(static/images/category_6.jpg);
}

/* FORM */

.form{
	width: 680px;
	padding: 42px 40px;
	background: #E5EAF8;
}

.form__item{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 0 20px 0;
}

.form__item label{
	font-size: 14px;
	line-height: 19px;
	margin: 0 0 3px 0;
}

.form__item input{
	height: 50px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 10px 20px;
	font-size: 18px;
	line-height: 25px;
	outline: none;
	transition: border 0.4s;
}

.form__item input::placeholder{
	font-size: 18px;
	line-height: 25px;
	font-size: 18px;
	color: #1E0606;
}

.form__item textarea{
	resize: none;
	border: 1px solid #CCCCCC;
	height: 150px;
	padding: 15px 20px;
	font-size: 18px;
	line-height: 25px;
	outline: none;
	transition: border 0.4s;
}

.form__item input:hover,
.form__item input:focus,
.form__item textarea:hover,
.form__item textarea:focus{
	border: 1px solid #C29974;
}

.form__item input:disabled,
.form__item textarea:disabled{
	border: 1px solid #EBEBEB;
	background: #FFFFFF;
}

.form__data{
	display: flex;
}

.form__phone{
	margin: 0 20px 0 0;
}

.form__check{
	display: flex;
	align-items: center;
	margin: 0 0 17px 0;
}

.form__check label{
	font-size: 14px;
	line-height: 19px;
	color: #1E0606;
}

.checkbox-label:hover,
.radio-label:hover{
	text-decoration: underline;
}

input[type=checkbox],
input[type=radio]{
	display: none;
}

.checkbox-label,
.radio-label{
	display: flex;
	align-items: center;
	position: relative;
	transition: text-decoration 0.4s;
}

.radio-label::before{
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	border: 2px solid #C29974;
	border-radius: 50%;
	margin: 0 15px 0 0;
}

.radio-label::after{
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background: #C29974;
	border-radius: 50%;
	top: 5px;
	left: 4px;
	opacity: 0;
}

.checkbox-label::before{
	content: "";
	width: 19px;
	height: 19px;
	display: block;
	border: 2px solid #C29974;
	border-radius: 3px;
	margin: 0 15px 0 0;
}

.checkbox-label::after{
	content: url(static/images/check_1.svg);
	position: absolute;
	top: 0;
	left: 3px;
	opacity: 0;
}

.checkbox-input:checked + .checkbox-label::after,
.radio-input:checked + .radio-label::after{
	opacity: 1;
}

.checkbox-input:disabled + .checkbox-label,
.radio-input:disabled + .radio-label{
	color: #908484;
}

.checkbox-input:disabled + .checkbox-label::before,
.radio-input:disabled + .radio-label::before{
	border: 2px solid #E1CDBA;
}

.checkbox-input:disabled + .checkbox-label:hover,
.radio-input:disabled + .radio-label:hover{
	text-decoration: none;
}