.toys__item{
	margin: 0 0 20px 0;
}

.toys__item a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toys__img{
	margin: 0 0 30px 0;
	height: 385px;
	position: relative;
}

.toys__img div{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Montserrat", "Arial", sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 29px;
	text-transform: uppercase;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);

	position: absolute;
	width: 207px;
	height: 207px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #E5EAF8;
	opacity: 0;
}

.toys__img div:hover{
	opacity: 0.9;
}

.toys__img div:active{
	background: rgba(229, 234, 248, 0.67);
}

.toys__item h3{
	margin: 0 0 15px 0;
	font-size: 14px;
	line-height: 19px;
}

.toys__item p{
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 25px 0;
}